/* Header Styles */

header {
    background-color: #fff;
    color: #333;
    position: fixed;
    padding-top: 25px;
    padding-bottom: 25px;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 25px rgba(51, 51, 51, 0.1);
    z-index: 1000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.right-nav {
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.header .center {
    width: 20%;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: inherit;
    text-decoration: none;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        color: #00967d;
    }
    100% {
        color: #00dab5;
    }
}

/* Navigation Styles */

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 15px;
    margin-right: 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00dab5;
}
