/* Map and AQI Widget Styles */

/* Flex Container Styles */

#interactive-map {
    padding-top: 85px;
    padding-bottom: 50px;
}

.aqi-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 75px;
    width: 100%;
}

#map {
    border-radius: 10px;
    height: calc(100vh - 225px);
}

#overview_aqi {
    height: calc(100vh - 225px);
}
