/* Responsive Styles */

@media (max-width: 768px) {
    header, footer {
        padding: 15px;
    }

    #map {
        height: 300px;
    }

    .flex-container {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
    }
}

@media (max-width: 480px) {
    header, footer {
        padding: 10px;
    }

    #map {
        height: 250px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        background-color: #444;
        margin-bottom: 5px;
    }
}
